{% if nfs == false %}
    sudo rm -rf /vagrant/**
{% endif %}

# uncomment if your not in debug mode
sudo apt -y autoremove ansible
sudo apt -y autoremove python

rm {{ cron_sql_log }} || true

if [ -d /tmp/ansible ]; then
    sudo rm -rf /tmp/ansible
fi

# composer cache
sudo rm -rf /home/vagrant/.cache