{% if nfs == false %}
    sudo rm -rf /vagrant/**
{% endif %}

# uncomment if your not in debug mode
sudo apt -y autoremove ansible
sudo apt -y autoremove python

if [ -d /tmp/ansible ]; then
    sudo rm -rf /tmp/ansible
fi

sudo rm -rf /home/vagrant/.ansible
# composer cache
sudo rm -rf /home/vagrant/.cache
sudo rm -rf /data/ecs/.git
