{% if nfs == false %}
    sudo rm -rf /vagrant/**
{% endif %}

# Uninstall Ansible and dependencies.
pip uninstall ansible
apt-get -y purge python-pip python-dev python python2.7 python3;

# Apt cleanup.
apt-get -y autoremove;
apt-get -y clean;
apt autoremove
apt update

rm {{ log_dir }}/*

if [ -d /tmp/ansible ]; then
    sudo rm -rf /tmp/ansible
fi
